body {
  background-color: #fff;
  color:  #2e3440;
  margin-left: auto;
}
marquee{
  /*background-color: black;*/
  color: blue;
  
}
#title {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color:rgb(138, 138, 221);
}
.hero{
  background-image: url("./img/co2industryblack.jpeg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: center;
  background-size: 100%;
}
#description {
  /*
  text-align: center;
  */
  text-align: justify;
  text-align-last: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#description a {
  color:rgb(138, 138, 221);
}

#description b {
  color:rgb(138, 138, 221);
}
.list{
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  
}

h2 {
  font-size: 36px;
  color:rgb(138, 138, 221);
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #888888;
}

footer p {
  line-height: 10px
}

footer a {
  color:rgb(138, 138, 221);
}
footer a:hover{
  color: #888888;
}

